@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">.NET 💜 Azure</h1>
    <p>Example .NET app running on Azure App Service with New Relic .NET agent and Browser Agent.</p>
</div>
